// install the following packages:
// npm i --save-dev eslint@5.6.0 prettier babel-eslint eslint-config-airbnb@^15.0.1 eslint-config-prettier eslint-plugin-import eslint-plugin-prettier

{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "no-underscore-dangle": { "allow": ["_id"] }
  }
}
